* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #111;
  color: #eee;
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 150px auto;
}

.label {
  display: inline-block;
  background: #35451f;
  color: #a9d45b;
  padding: 5px 8px;
  font-size: 8px;
  margin-bottom: 25px;
}


.search {
  width: 100%;
  margin-bottom: 20px;
}

.search input {
  width: 300px;
  background: #191919;
  border: 1px solid #333;
  outline: none;
  color: white;
  padding: 12px;
  font-size: 12px;
}

.search input:focus {
  border-color: #a9d45b;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th {
  color: #777;
  font-size: 9px;
  font-weight: normal;
  text-align: left;
  padding: 10px;
  border-top: 1px solid #444;
  border-bottom: 1px solid #333;
}

td {
  padding: 18px 10px;
  border-bottom: 1px solid #292929;
  font-size: 12px;
}

tbody tr {
  transition: 0.2s;
}

tbody tr:hover {
  background: #222;
}

.student {
  font-weight: bold;
}

.class {
  color: #999;
}

.score {
  color: #a9d45b;
}


.average {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #333;
  color: #777;
  font-size: 11px;
}

.average span {
  color: #a9d45b;
  font-size: 16px;
  font-weight: bold;
}
